<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="/herramientas/dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Solicitudes pendientes de autorizar </ion-title>
    <ion-buttons slot="end" *ngIf="user$ | async as user">
      <ion-avatar class="user">
        <img
          [src]="(user.foto) ? (user.foto | upload) : 'assets/img/no-profile.jpg'"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <indelpro-contraloria-lista-solicitud
      *ngFor="let sol of solicitudes$ | async"
      (detalle)="verDetalle($event)"
      [solicitud]="sol"
      (aprobar)="aprobar($event, sol)"
    ></indelpro-contraloria-lista-solicitud>
  </ng-container>
</ion-content>
<ng-template #loading>
  <indelpro-contraloria-cargando-solicitudes></indelpro-contraloria-cargando-solicitudes>
</ng-template>
