<ion-header>
  <ion-toolbar color="secondary">
    <ion-grid *ngIf="user$ | async as user">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">
          <ion-back-button
            color="light"
            defaultHref="/herramientas/dashboard"
          ></ion-back-button>
        </ion-col>
        <ion-col size="auto">
          <ion-avatar class="user">
            <img
              [src]="(user.foto) ? (user.foto | upload) : 'assets/img/no-profile.jpg'"
            />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <h1 class="ion-padding-top">
              Solicitudes pendientes de autorizar
            </h1>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <indelpro-contraloria-lista-solicitud
      *ngFor="let sol of solicitudes$ | async"
      (detalle)="verDetalle($event)"
      [solicitud]="sol"
      (aprobar)="aprobar($event, sol)"
    ></indelpro-contraloria-lista-solicitud>
  </ng-container>
</ion-content>
<ng-template #loading>
  <indelpro-contraloria-cargando-solicitudes></indelpro-contraloria-cargando-solicitudes>
</ng-template>
