<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="/herramientas/dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Mis solicitudes enviadas </ion-title>
    <ion-buttons slot="end" *ngIf="user$ | async as user">
      <ion-avatar class="user">
        <img
          [src]="(user.foto) ? (user.foto | upload) : 'assets/img/no-profile.jpg'"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
    <ion-searchbar
      (ionInput)="buscar($event)"
      placeholder="Búsqueda de solicitudes"
    ></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <indelpro-contraloria-lista-solicitud
      *ngFor="let sol of solicitudes$ | async"
      (detalle)="verDetalle($event)"
      [solicitud]="sol"
      (aprobar)="aprobar($event, sol)"
    ></indelpro-contraloria-lista-solicitud>
  </ng-container>
</ion-content>
<ng-template #loading>
  <indelpro-contraloria-cargando-solicitudes></indelpro-contraloria-cargando-solicitudes>
</ng-template>

<!-- <ion-content>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <ion-card
      color="light"
      *ngFor="let sol of solicitudes$ | async"
      button
      class="solicitud"
    >
      <ion-item lines="none">
        <div slot="start" class="tipo">
          <p>{{sol.TYPE}}</p>
        </div>
        <ion-label class="ion-text-wrap">
          <p>
            <strong>
              {{sol.IDWFC}}
            </strong>
          </p>
          <h2>{{sol.TITLE}}</h2>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>
  <ng-template #loading>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content> -->
