registry=https://pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/registry/
always-auth=true
;begin auth token
//pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/registry/:_password=N3RxcWRndGN6cjc2MnJka3M3ZDZnNmVwenM3Nmd1NWgzZWF1a3k2Nm1wd3lqY2F3ZHpsYQ==
//pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/registry/:username=alliax
//pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/:username=alliax
//pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/:_password=N3RxcWRndGN6cjc2MnJka3M3ZDZnNmVwenM3Nmd1NWgzZWF1a3k2Nm1wd3lqY2F3ZHpsYQ==
//pkgs.dev.azure.com/alliax/alliax/_packaging/packages/npm/:email=npm requires email to be set but doesn't use the value
;end auth token
