<ion-header> </ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="11" size-md="4" size-lg="3" size-xl="3">
        <div class="logo ion-text-center ion-margin">
          <img src="assets/auth/logo.png" class="ion-margin-vertical" />
        </div>
        <div>
          <div class="ion-margin-bottom">
            <h2 class="ion-text-center ion-no-margin">Formas electrónicas</h2>
            <h6 class="ion-text-center ion-no-margin">
              ¿Olvidaste tu contraseña?
            </h6>
          </div>
          <div class="ion-padding-horizontal">
            <p class="aviso">
              Ingresa tu correo electrónico y te haremos llegar un correo para
              cambiar tu contraseña
            </p>
          </div>
          <ion-item color="light" lines="none">
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <div class="ion-padding-top ion-text-end ion-hide-md-down">
            <ion-button
              color="medium"
              fill="clear"
              size="small"
              routerLink="/auth/login"
              >Volver</ion-button
            >
            <ion-button (click)="enviarCorreo()">Enviar correo</ion-button>
          </div>
          <div class="ion-padding-top ion-text-center ion-hide-sm-up">
            <div>
              <ion-button (click)="enviarCorreo()">Enviar correo</ion-button>
            </div>
            <div class="ion-margin-top">
              <ion-button
                color="medium"
                fill="clear"
                size="small"
                routerLink="/auth/login"
              >
                Volver
              </ion-button>
            </div>
          </div>
        </div>
        <div class="ion-text-center texto-alliax">
          <small>
            Made with <ion-icon name="heart" color="danger"></ion-icon> by
            Alliax
          </small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
