<ion-header> </ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10" size-md="4" size-lg="3" size-xl="3">
        <ion-card>
          <div class="ion-padding logo">
            <img src="assets/auth/logo.png" />
          </div>
          <ion-card-content>
            <h2 class="ion-text-center">Olvidaste tu contraseña</h2>
            <div class="ion-padding-horizontal">
              <p class="aviso">
                Ingresa tu correo electrónico y te haremos llegar un correo para
                cambiar tu contraseña
              </p>
            </div>
            <ion-list lines="none" class="ion-no-padding">
              <ion-item>
                <ion-label position="stacked">Correo electrónico</ion-label>
                <ion-input type="email" [(ngModel)]="email"></ion-input>
              </ion-item>
            </ion-list>
            <div class="ion-padding-top ion-text-end">
              <ion-button
                color="medium"
                fill="clear"
                size="small"
                routerLink="/auth/login"
                >Volver</ion-button
              >
              <ion-button (click)="enviarCorreo()">Enviar correo</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
