<ion-header> </ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10" size-md="4" size-lg="3" size-xl="3">
        <ion-card>
          <div class="ion-padding logo">
            <img src="assets/auth/logo.png" />
          </div>
          <ion-card-content>
            <h2 class="ion-text-center">Validando tu cuenta</h2>
            <div class="ion-padding-horizontal">
              <p class="aviso">
                Estamos validando tu cuenta, por favor espera mientras
                terminamos
              </p>
            </div>
            <div class="ion-padding ion-text-center">
              <ion-spinner></ion-spinner>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
