<ion-header> </ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="11" size-md="4" size-lg="3" size-xl="3">
        <div class="logo ion-text-center ion-margin">
          <img src="assets/auth/logo.png" class="ion-margin-vertical" />
        </div>
        <div>
          <div class="ion-margin-bottom">
            <h2 class="ion-text-center ion-no-margin">Formas electrónicas</h2>
            <h6 class="ion-text-center ion-no-margin">
              Crear una nueva contraseña
            </h6>
          </div>
          <div class="ion-padding-horizontal">
            <p class="aviso">
              Ingresa la nueva contraseña que usarás para el sistema
            </p>
          </div>
          <ion-item color="light" lines="none">
            <ion-label position="stacked">Nueva contraseña</ion-label>
            <ion-input
              [type]="isVisible ? 'text' : 'password'"
              [(ngModel)]="newPassword"
            ></ion-input>
            <ion-button
              size="small"
              slot="end"
              fill="clear"
              (click)="isVisible = !isVisible"
              shape="round"
              class="ion-align-self-end"
            >
              <ion-icon
                [name]="isVisible ? 'eye-off-outline' : 'eye-outline'"
                slot="icon-only"
                (click)="isVisible = !isVisible"
              ></ion-icon>
            </ion-button>
          </ion-item>
          <div
            class="ion-padding-vertical ion-text-center ion-text-sm-center ion-text-md-end ion-text-lg-end ion-text-xl-end"
          >
            <ion-button (click)="actualizar()">Actualizar</ion-button>
          </div>
        </div>
        <div class="ion-text-center texto-alliax">
          <small>
            Made with <ion-icon name="heart" color="danger"></ion-icon> by
            Alliax
          </small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
