<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Configuración de SAP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <form>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Configuración de SAP
              </ion-card-title>
              <ion-card-subtitle>
                Actualiza la información de conexión al SAP de Indelpro donde se
                obtendrán los expedientes de Activo Fijo
              </ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">
                  Host
                </ion-label>
                <ion-input type="text" value="10.241.0.9"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">
                  ID de Sistema
                </ion-label>
                <ion-input type="text" value="DES"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">
                  Número de Cliente
                </ion-label>
                <ion-input type="text" value="00"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">
                  Usuario
                </ion-label>
                <ion-input type="text" value="prgr05"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">
                  Contraseña
                </ion-label>
                <ion-input type="password" value="Passindqas#17"></ion-input>
              </ion-item>
            </ion-list>
            <div class="ion-padding ion-text-end">
              <ion-button color="primary">
                Guardar
                <ion-icon name="save-outline" slot="end"></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
