<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid fixed *ngIf="user$ | async as user">
    <ion-row
      class="ion-justify-content-start ion-align-items-center ion-padding-vertical"
    >
      <ion-col size="4" size-md="2">
        <div class="imagen-avatar">
          <img
            [src]="user.foto ? (user.foto | upload) : 'assets/img/no-profile.jpg'"
          />
          <ion-fab-button
            color="primary"
            (click)="actualizarFoto($event)"
            class="actualizar"
            size="small"
          >
            <ion-icon name="camera-outline"></ion-icon>
          </ion-fab-button>
          <ion-input
            type="file"
            style="display: none"
            #foto
            (ionChange)="fotoSeleccionada($event)"
          ></ion-input>
        </div>
      </ion-col>
      <ion-col size="8" size-md="10" class="ion-padding-start">
        <div class="ion-padding-horizontal">
          <h2 class="ion-no-margin">{{user.nombre}}</h2>
          <h6 class="ion-no-margin">{{user.email}}</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Cambiar contraseña </ion-card-title>
          </ion-card-header>
          <formly-form
            [form]="form"
            [fields]="fields"
            [model]="model"
          ></formly-form>
          <div class="ion-padding-start">
            <alliax-validate-password
              [password]="model.password"
              *ngIf="model.password && model.password.length > 0"
            ></alliax-validate-password>
          </div>

          <div class="ion-padding ion-text-end">
            <ion-button fill="clear" color="medium" (click)="form.reset()">
              Cancelar
            </ion-button>
            <ion-button color="primary" (click)="actualizarPassword()">
              Actualizar contraseña
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
