<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid fixed *ngIf="user$ | async as user">
    <ion-row
      class="ion-justify-content-start ion-align-items-center ion-padding-vertical"
    >
      <ion-col size="2">
        <div class="imagen-avatar">
          <img
            [src]="user.foto ? (user.foto | upload) : 'assets/img/no-profile.jpg'"
          />
          <ion-fab-button
            color="primary"
            (click)="actualizarFoto($event)"
            class="actualizar"
            size="small"
          >
            <ion-icon name="camera-outline"></ion-icon>
          </ion-fab-button>
          <ion-input
            type="file"
            style="display: none;"
            #foto
            (ionChange)="fotoSeleccionada($event)"
          ></ion-input>
        </div>
      </ion-col>
      <ion-col size="10" class="ion-padding-start">
        <div class="ion-padding-horizontal">
          <h2 class="ion-no-margin">
            {{user.nombre}}
          </h2>
          <h6 class="ion-no-margin">
            {{user.email}}
          </h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
