<ion-header> </ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10" size-md="4" size-lg="3" size-xl="3">
        <ion-card>
          <div class="ion-padding logo">
            <img src="assets/auth/logo.png" />
          </div>
          <ion-card-content>
            <h2 class="ion-text-center">Crear una nueva contraseña</h2>
            <div class="ion-padding-horizontal">
              <p class="aviso">
                Ingresa la nueva contraseña que usarás para el sistema
              </p>
            </div>
            <ion-list lines="none" class="ion-no-padding">
              <ion-item>
                <ion-label position="stacked">Nueva contraseña</ion-label>
                <ion-input
                [type]="isVisible ? 'text' : 'password'"
                  [(ngModel)]="newPassword"
                ></ion-input>
                <ion-button
                  size="small"
                  slot="end"
                  fill="clear"
                  (click)="isVisible = !isVisible"
                  shape="round"
                  class="ion-align-self-end"
                >
                  <ion-icon
                    [name]="isVisible ? 'eye-off-outline' : 'eye-outline'"
                    slot="icon-only"
                    (click)="isVisible = !isVisible"
                  ></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <div class="ion-padding-top ion-text-end">
              <ion-button (click)="actualizar()">Actualizar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
