<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tipos de activos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <alliax-admin-panel>
    <ng-container slot="sidebar">
      <alliax-form-control
        [form]="form"
        [fields]="fields"
        [model]="model"
        (enviar)="onSubmit($event)"
        (limpiar)="resetButton()"
      >
        <div slot="extras">
          <ion-item
            *ngIf="model.imagen"
            download="download"
            target="_blank"
            [href]="model.imagen | upload"
          >
            <ion-label>
              <p>Imagen</p>
              <img [src]="model.imagen | upload" />
            </ion-label>
          </ion-item>
          <div class="ion-text-center ion-padding-vertical">
            <alliax-file-upload
              [archivo]="model.file"
              (archivoCargado)="model.file = $event"
            ></alliax-file-upload>
          </div>
        </div>
      </alliax-form-control>
    </ng-container>
    <ng-container slot="content">
      <alliax-list-item
        *ngFor="let registro of registros$ | async; let i = index"
        [registro]="registro"
        firstLine="nombre"
        (eliminar)="remove($event)"
        (actualizar)="edit($event)"
      >
        <ng-container slot="orden">
          <ion-chip color="secondary" slot="start"> {{i+1}} </ion-chip>
        </ng-container>
        <ion-thumbnail slot="start">
          <img [src]="registro.imagen | upload" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{registro.nombre}}</h2>
          <p>{{registro.claveSap}}</p>
        </ion-label>
      </alliax-list-item>
    </ng-container>
  </alliax-admin-panel>
</ion-content>
