ion-content {
  --background: url('~/assets/auth/bg.jpg') no-repeat center
    center / cover;
  height: 100%;

  ion-grid,
  ion-row {
    height: 100%;
  }

  ion-card {
    --background: var(--ion-color-light);

    ion-list {
      --ion-item-background: transparent;
    }

    .aviso {
      font-size: 0.8rem;
    }
  }

  .logout {
    ion-fab-button {
      margin: 0 auto;
    }
  }

  .logo {
    width: 50%;
    margin: 0 auto;
  }
  ion-input {
    border-bottom: 1px solid var(--ion-color-medium);
  }
}
