<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Dashboard </ion-title>
    <ion-buttons slot="end" *ngIf="user$ | async as user">
      <ion-avatar class="user">
        <img
          [src]="(user.foto) ? (user.foto | upload) : 'assets/img/no-profile.jpg'"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar
      (ionInput)="buscar($event)"
      placeholder="Búsqueda de solicitudes"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="update($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="(loading$ | async) === false; else loading">
    <div *ngIf="(solicitudes$ | async)?.length > 0">
      <indelpro-contraloria-lista-solicitud
        *ngFor="let sol of solicitudes$ | async"
        [routerLink]="'/herramientas/solicitud/' + sol.IDWF + '/' + sol.TYPE"
        [solicitud]="sol"
      ></indelpro-contraloria-lista-solicitud>
    </div>
    <indelpro-contraloria-header-tipo
      icono="file-tray-full-outline"
      titulo="Solicitudes pendientes de autorizar"
      [total]="solicitudesQuery.totalPendientes$ | async"
      colorIcono="primary"
      (click)="pendientesVisible = !pendientesVisible"
      style="position: sticky; top: 0"
    ></indelpro-contraloria-header-tipo>
    <indelpro-contraloria-lista-tipo
      *ngFor="let tipo of pendientesPorTipo$ | async"
      [tipo]="tipo"
    ></indelpro-contraloria-lista-tipo>

    <!--    <indelpro-contraloria-header-tipo
      icono="document-text-outline"
      titulo="Mis solicitudes enviadas"
      [total]="solicitudesQuery.totalPropias$ | async"
      colorIcono="secondary"
      (click)="enviadasVisible = !enviadasVisible"
    ></indelpro-contraloria-header-tipo>
    <indelpro-contraloria-lista-tipo
      *ngFor="let tipo of propiasPorTipo$ | async"
      [tipo]="tipo"
      [hidden]="!enviadasVisible"
    ></indelpro-contraloria-lista-tipo>-->
  </ng-container>

  <ng-template #loading>
    <indelpro-contraloria-cargando-solicitudes></indelpro-contraloria-cargando-solicitudes>
  </ng-template>
</ion-content>
