<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/herramientas/busqueda"></ion-back-button>
    </ion-buttons>
    <ion-title>Búsqueda por tipo | {{id}} - {{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="ion-padding ion-text-center"
    *ngIf="loading$ | async; else listado"
  >
    <ion-spinner></ion-spinner>
  </div>
  <ng-template #listado>
    <ion-virtual-scroll [items]="porTipo$ | async " approxItemHeight="120px">
      <div *virtualItem="let item;let i = index">
        <indelpro-contraloria-expediente-lista-elemento
          [expediente]="item"
        ></indelpro-contraloria-expediente-lista-elemento>
      </div>
    </ion-virtual-scroll>
  </ng-template>
</ion-content>
