<ion-app darkMode>
  <ion-split-pane contentId="main" [disabled]="!(shouldShowMenu$ | async)">
    <ion-menu contentId="main" [disabled]="!(shouldShowMenu$ | async)">
      <ion-header class="ion-no-border">
        <ion-toolbar color="dark">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-justify-content-center">
              <ion-col
                size="10"
                size-md="10"
                class="ion-margin-vertical ion-text-center"
              >
                <div class="ion-padding-vertical ion-margin-vertical">
                  <img src="assets/auth/logo-white.png" />
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-toolbar color="dark" *ngIf="user$ | async as user">
          <ion-grid class="user">
            <ion-row class="ion-justify-content-center">
              <ion-col size="6">
                <div class="foto">
                  <img
                    [src]="
                      user.foto
                        ? (user.foto | upload)
                        : 'assets/img/no-profile.jpg'
                    "
                  />
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="10" class="ion-text-center">
                <div>
                  <h2 class="ion-no-margin">{{ user.nombre }}</h2>
                  <h5 class="ion-no-margin ion-margin-bottom">
                    {{ user.profile?.puesto }}
                  </h5>
                  <h6 class="ion-no-margin">{{ user.email }}</h6>
                  <h6 class="ion-no-margin">
                    {{ user.profile?.departamento }}
                  </h6>
                </div>
                <div class="ion-padding-vertical">
                  <ion-button
                    color="danger"
                    size="small"
                    (click)="cerrarSesion()"
                  >
                    Cerrar sesión
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
        <alliax-nav-menu
          [menu]="menu"
          bgColor="dark"
          titleColor="tertiary"
          mainColor="primary"
          secondaryColor="light"
        ></alliax-nav-menu>

        <alliax-nav-menu
          [menu]="menuAdmin"
          bgColor="dark"
          titleColor="tertiary"
          mainColor="primary"
          secondaryColor="light"
          *ngIf="(user$ | async)?.role.includes('formas-admin')"
        ></alliax-nav-menu>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar color="dark">
          <ion-title size="small" class="ion-text-center">
            <small>
              Made with
              <ion-icon name="heart-sharp" color="danger"></ion-icon> by Alliax
            </small>
          </ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main" [animated]="!isWeb"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
