.user {
  border: 1px solid var(--ion-color-light-shade);
  height: 30px;
  width: 30px;
}

ion-card {
  border-radius: 20px;
}

.info-principal {

  .titulo {
    font-weight: bolder;
    padding: 4px 2px;
  }
}

.datos-adicionales {
  padding: 8px 0;
  ion-item {
    h2 {
      font-size: 0.8rem;
      color: var(--ion-color-medium-shade);
    }
    p {
      font-size: 0.9rem;
      color: var(--ion-color-dark);
    }
  }
}

.archivos-adjuntos {
  ion-item {
    ion-icon {
      color: var(--ion-color-secondary);
    }
    ion-label {
      font-size: 0.9rem;
    }
  }
}

.solicitud-indelpro {
  &::ng-deep {
    table {
      width: 100% !important;

      img {
        width: 75px;
        height: 75px;
        margin-right: 25px;
      }
    }
    table#pos {
      tr {
        margin-bottom: 8px;
      }
    }
  }
}
