.user {
  border: 1px solid var(--ion-color-light-shade);
  height: 30px;
  width: 30px;
}

ion-card {
  border-radius: 20px;
}

.info-principal {
  .titulo {
    font-weight: bolder;
    padding: 4px 2px;
  }
}

.datos-adicionales {
  padding: 8px 0;
  ion-item {
    h2 {
      font-size: 0.8rem;
      color: var(--ion-color-medium-shade);
    }
    p {
      font-size: 0.9rem;
      color: var(--ion-color-dark);
    }
  }
}

.archivos-adjuntos {
  ion-item {
    ion-icon {
      color: var(--ion-color-secondary);
    }
    ion-label {
      font-size: 0.9rem;
    }
  }
}

.solicitud-indelpro {
  &::ng-deep {
    border-radius: 25px;
    background: RGBA(var(--ion-color-medium-rgb), 0.1);
    box-shadow: 0 0 2px var(--ion-color-medium-tint);
    padding: 20px 15px;
    margin: 15px auto;
    display: block;
    width: 95%;

    table {
      width: 100% !important;

      tr {
        border: 0 !important;
      }

      img {
        width: 50px;
        height: 50px;
        margin-right: 25px;
      }
    }
    table#pos {
      tr {
        margin-bottom: 8px;
      }
    }
  }
}

.solicitud-compras {
  &::ng-deep {
    font-size: 0.9rem;
    background: white;
    font-family: var(--ion-font-family);

    .header {
      font-weight: bolder;
      text-align: center;
      font-size: 1rem;
      margin: 10px auto;
    }

    #Content {
      margin-top: 15px;
      &:first-child {
        box-shadow: 0 0 2px var(--ion-color-light-shade);
      }
    }

    td,
    th {
      padding: initial;
      text-align: left;
    }
    th {
      color: var(--ion-color-primary-shade);
    }
    .box,
    .gral {
      border-radius: 25px;
      background: var(--ion-color-light);
      box-shadow: 0 0 2px var(--ion-color-light-shade);
      padding: 20px 15px;
      margin: 15px auto;
      display: block;
      width: 95%;
    }
    table.data {
      margin-top: 15px;
      tr {
        float: left;
        width: 100%;
        &:first-child {
          width: 30%;
        }
      }
      td,
      th {
        float: left;
        width: 100%;
      }
      th {
        padding: 0 4px;
        display: none;
      }
      #total {
        width: 100%;
        &:first-child {
          margin-top: 40px;
        }
      }
    }
    #footnote {
      display: none;
    }
  }
}
