.user {
  border: 1px solid var(--ion-color-light-shade);
  height: 30px;
  width: 30px;
}
.solicitud-indelpro {
  &::ng-deep {
    table {
      width: 100% !important;

      img {
        width: 75px;
        height: 75px;
        margin-right: 25px;
      }
    }
    table#pos {
      tr {
        margin-bottom: 8px;
      }
    }
  }
}
