<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Búsqueda de expedientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" fixed>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Búsqueda por datos
            </ion-card-title>
            <ion-card-subtitle>
              Ingresa alguno de estos datos para filtrar los registros
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">
                Número de activo SAP
              </ion-label>
              <ion-input
                type="text"
                placeholder="Ingrese el número de activo"
                [(ngModel)]="query.activo"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">
                Número de SAI
              </ion-label>
              <ion-input
                type="text"
                placeholder="Ingrese el número de SAI"
                [(ngModel)]="query.sai"
              ></ion-input>
            </ion-item>
            <ion-list-header>
              Fecha de capitalización
            </ion-list-header>
            <ion-item>
              <ion-label>
                Desde
              </ion-label>
              <ion-datetime
                placeholder="dd/mm/yyyy"
                pickerFormat="DD/MMM/YYYY"
                displayFormat="DD/MM/YYYY"
                [(ngModel)]="query.desde"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>
                Hasta
              </ion-label>
              <ion-datetime
                placeholder="dd/mm/yyyy"
                pickerFormat="DD/MMM/YYYY"
                displayFormat="DD/MM/YYYY"
                [(ngModel)]="query.hasta"
              ></ion-datetime>
            </ion-item>

            <div class="ion-padding-top">
              <ion-button expand="block" (click)="buscarPorDatos()">
                Buscar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Búsqueda por tipo de activo
            </ion-card-title>
            <ion-card-subtitle>
              Selecciona un tipo de activo para ver los activos correspondientes
              a ese tipo
            </ion-card-subtitle>
          </ion-card-header>
          <ion-grid>
            <ion-row class="ion-justify-content-start ion-align-items-center">
              <ion-col size="6" *ngFor="let tipo of tipos$ | async">
                <ion-card>
                  <ion-item
                    lines="none"
                    button
                    [routerLink]="'/herramientas/busqueda/tipo/' + tipo.claveSap +'/' + tipo.nombre"
                  >
                    <ion-thumbnail slot="start">
                      <img [src]="tipo.imagen | upload" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">
                      <h2>
                        {{tipo.nombre}}
                      </h2>
                      <p>
                        {{tipo.claveSap}}
                      </p>
                    </ion-label>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Búsqueda por ubicación
            </ion-card-title>
            <ion-card-subtitle>
              Selecciona una ubicación para ver su listado de activos
            </ion-card-subtitle>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="3" *ngFor="let ubicacion of ubicaciones$ | async">
                <ion-card button>
                  <ion-item
                    lines="none"
                    button
                    [routerLink]="'/herramientas/busqueda/ubicacion/' + ubicacion._id +'/' + ubicacion.nombre"
                  >
                    <ion-label class="ion-text-wrap">
                      <h2>
                        {{ubicacion.nombre}}
                      </h2>
                      <p>
                        {{ubicacion.grupoUbicacion?.nombre}}
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
